@model IEnumerable<EmployeeTasks.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.taskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dueTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.taskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dueTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.taskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.taskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.taskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
